/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
/* navbar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
 }
/* Navigation Bar: Logo and Image  */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 66px;
    margin: 5px 6px;
}
/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'Oswald', sans-serif;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 21px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
   background-color: black;
}
/* Home Section  */
#home{
    display: flex;
    padding: 3px 200px;
    height: 420px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background:url(../bg1.png) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 528px;
    width: 100%;
    z-index: -1;
    opacity: 0.88;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
#home p{  
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

}
/* Services Sections */
#services{
    margin: 10px;
    display: flex;
}
#services .box{
   border: 2px solid brown;
   margin: 3px 6px;
   padding: 20px;
   border-radius: 20px;
   background-color: blanchedalmond;
}
#services .box img{
    height: 150px;
    display: block;
    margin: auto;
 }

/* Client Items  */
#client-section{
    position: relative;
    height: 265px;
}
#clients{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 92px;
}
#clients img{
    height: 100px;

}
.client-item{
    padding: 70px;
}
#client-section::before{
    content: "";
    position: absolute;
    background-image: url(../bg2.png);
    width: 100%;
    height: 265px;
    z-index: -1;

}
/* Contact Info */
#contact{
    position: relative;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../contact4.png) ;
    z-index: -1;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}

#contact-box textarea,#contact-box input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 9px 20px;
}
/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 10px;
    text-align: center;
}
.h-secondary{
    font-size: 2.1rem;
    padding: 12px;
    text-align: center;
}
.btn{
    padding: 10px;
    background-color: brown;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    margin: 12px;
    cursor: pointer;
}